<mat-toolbar class="app-toolbar" color="primary">
    <div style="margin-left: auto;">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="isHome=true">Order</mat-button-toggle>
            <mat-button-toggle (click)="isHome=false">Cart</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</mat-toolbar>
<div class="container" *ngIf="isHome">
    <table class="table table-borderless">
        <tbody>
            <tr class="row">
                <td *ngFor="let item of items">
                    <img [src]="item.productImage" height="100"><br>
                    <p>{{item.productDescription}} - <b>Rs.{{item.productPrice}}</b></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button *ngIf="!item.isAddedtoCart" mat-raised-button (click)="addToCart(item)">Add to Cart</button>
                    <button disabled *ngIf="item.isAddedtoCart" mat-raised-button>Added to Cart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" [hidden]="isHome">
    <label>Cart</label>
    <mat-table [dataSource]="this.dataSource" class="mat-elevation-z8" matSort="false">
        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.productName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="productPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.productPrice}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productSubTotalPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header>SubTotal</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.productSubTotalPrice}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.productDescription}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Image">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <img [src]="element.productImage" style="width: 55px" />
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button (click)="removeFromCart(row.productId)" mat-icon-button matTooltip="Click to Delete"
                    class="iconbutton" color="warn">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle (click)="decressQuantity(row.productId)">-</mat-button-toggle>
                    <mat-button-toggle disabled>{{row.productQuantity}}</mat-button-toggle>
                    <mat-button-toggle (click)="incressQuantity(row.productId)">+</mat-button-toggle>
                    <mat-button-toggle (click)="row.productQuantity=1; 
                        row.productSubTotalPrice = row.productPrice;">Reset</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #MatPaginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons>
    </mat-paginator>
</div>
<!-- <router-outlet></router-outlet> -->